<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangyonggan.app.future.mapper.DemoMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.future.model.vo.Demo">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="column1" property="column1" jdbcType="VARCHAR"/>
        <result column="column2" property="column2" jdbcType="VARCHAR"/>
        <result column="column3" property="column3" jdbcType="VARCHAR"/>
        <result column="column4" property="column4" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAllTables" resultType="DbTable">
      SELECT
        table_name AS tableName, table_comment AS tableComment,table_rows AS tableRows, create_time AS createdTime, update_time AS updatedTime
      FROM
        information_schema.TABLES
      WHERE
        table_schema = 'future'
        ORDER BY create_time DESC
    </select>

    <select id="selectTableColumns" resultType="DbColumn">
       SHOW FULL COLUMNS FROM ${tableName}
    </select>
</mapper>