<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.app.future.mapper.SectionMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.future.model.vo.Section">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="book_code" jdbcType="INTEGER" property="bookCode"/>
        <result column="prev_section_code" jdbcType="INTEGER" property="prevSectionCode"/>
        <result column="next_section_code" jdbcType="INTEGER" property="nextSectionCode"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
</mapper>