<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.app.future.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.future.model.vo.User">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="small_avatar" jdbcType="VARCHAR" property="smallAvatar"/>
        <result column="medium_avatar" jdbcType="VARCHAR" property="mediumAvatar"/>
        <result column="large_avatar" jdbcType="VARCHAR" property="largeAvatar"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>

        <result column="is_read" jdbcType="TINYINT" property="isRead"/>
        <result column="is_reply" jdbcType="TINYINT" property="isReply"/>
    </resultMap>

    <insert id="insertUserRoles">
        INSERT INTO user_role (username, role_code)
        VALUES
        <foreach collection="roleCodes" item="roleCode" separator=",">
            (#{username}, #{roleCode})
        </foreach>
    </insert>

    <select id="selectMessageUsers" resultMap="BaseResultMap">
        SELECT u.*, mu.is_read,
        (SELECT count(*) FROM message_user t WHERE t.message_id = #{messageId} AND t.username = u.username AND t.reply_message_id != 0) AS is_reply
        FROM user u, message_user mu
        <where>
            u.username = mu.username
            AND mu.message_id = #{messageId}
        </where>
    </select>

    <select id="selectAllAdmin" resultMap="BaseResultMap">
        SELECT u.username FROM user u, user_role ur
        <where>
            u.username = ur.username
            AND ur.role_code = 'ROLE_ADMIN'
        </where>
        ORDER BY u.id DESC
    </select>
</mapper>